.ui_btn{
    flex-shrink: 0;
    position: relative;
    padding: 10px 12px 11px;
    width: 142px;
    height: 35px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--brand);
    cursor: pointer;
    transition: background-color var(--transition), color var(--transition);
}

@media (min-width: 762px) {
    .ui_btn:hover {
        background-color: var(--light);
    }
    .ui_btn:active{
        top: 1px;
    }
}