* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --black: #000;
  --dark: #272727;
  --white: #fff;
  --light: #e8e8e8;
  --brand: #fcd54c;
  
  --transition: .3s ease-in;
}

ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
}
button{
  border: none;
  background-color: transparent;
}

body{
  font-family: Work Sans, sans-serif;
  font-weight: 400;
  font-style: 18px;
  background-color: var(--dark);
  color: var(--light);
}

.app{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.container{
  max-width: 1830px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
